/**
  element
*/
body {
    font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1, h2, h3 {
    font-weight: bold;
}
h2 {
    font-size: 35px !important;
}
li {
    font-size: 30px;
}
.list-l li {
    margin-top: 50px;
    font-size: 40px;
}
.list-m li {
    margin-top: 30px;
    font-size: 35px;
}
a {
    color: #79B5F2;
    text-decoration: none;
}
blockquote {
    font-size: 20px;
    font-style: italic;
}

table {
    margin: 0 auto;
}
th {
    background: white;
    color: #203040;
}
th, td {
    border: 1px solid white;
    padding: 10px;
}

/**
  custom class
*/
.col-7 {
    width: 84%;
    float: left;
    margin-right: 2%;
}
.col-6 {
    width: 72%;
    float: left;
    margin-right: 2%;
}
.col-5 {
    width: 60%;
    float: left;
    margin-right: 2%;
}
.col-4 {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.col-3 {
    width: 36%;
    float: left;
    margin-right: 2%;
}
.col-2 {
    width: 24%;
    float: left;
    margin-right: 2%;
}
.col-1 {
    width: 12%;
    float: left;
    margin-right: 2%;
}
.fs-ll {
    font-size: 60px;
}
.fs-l {
    font-size: 50px;
}
.fs-m {
    font-size: 40px;
}
.fs-s {
    font-size: 20px;
}
.fw-b {
    font-weight: bold;
}
.fc-yellow {
    color: #ffeb3b;
}
.fc-black {
    color: #000000;
}
.fc-red {
    color: red;
}

/* margin utility classes */
.m10-t {
    margin-top: 10px !important;
}
.m20-t {
    margin-top: 20px !important;
}
.m30-t {
    margin-top: 30px !important;
}
.m40-t {
    margin-top: 40px !important;
}
.m50-t {
    margin-top: 50px !important;
}
.m60-t {
    margin-top: 60px !important;
}
.m70-t {
    margin-top: 70px !important;
}
.m80-t {
    margin-top: 80px !important;
}
.m90-t {
    margin-top: 90px !important;
}
.m100-t {
    margin-top: 100px !important;
}
.m10-b {
    margin-bottom: 10px !important;
}
.m20-b {
    margin-bottom: 20px !important;
}
.m30-b {
    margin-bottom: 30px !important;
}
.m40-b {
    margin-bottom: 40px !important;
}
.m50-b {
    margin-bottom: 50px !important;
}
.m60-b {
    margin-bottom: 60px !important;
}
.m70-b {
    margin-bottom: 70px !important;
}
.m80-b {
    margin-bottom: 80px !important;
}
.m90-b {
    margin-bottom: 90px !important;
}
.m100-b {
    margin-bottom: 100px !important;
}
.m10-l {
    margin-left: 10px !important;
}
.m20-l {
    margin-left: 20px !important;
}
.m30-l {
    margin-left: 30px !important;
}
.m40-l {
    margin-left: 40px !important;
}
.m50-l {
    margin-left: 50px !important;
}
.m60-l {
    margin-left: 60px !important;
}
.m70-l {
    margin-left: 70px !important;
}
.m80-l {
    margin-left: 80px !important;
}
.m90-l {
    margin-left: 90px !important;
}
.m100-l {
    margin-left: 100px !important;
}
.m10-r {
    margin-right: 10px !important;
}
.m20-r {
    margin-right: 20px !important;
}
.m30-r {
    margin-right: 30px !important;
}
.m40-r {
    margin-right: 40px !important;
}
.m50-r {
    margin-right: 50px !important;
}
.m60-r {
    margin-right: 60px !important;
}
.m70-r {
    margin-right: 70px !important;
}
.m80-r {
    margin-right: 80px !important;
}
.m90-r {
    margin-right: 90px !important;
}
.m100-r {
    margin-right: 100px !important;
}

.kakuzuke {

}
.kakuzuke table {
    font-size: 35px;
}
.kakuzuke thead {
    display: none;
}

.kakuzuke td {
    border: none;
}

.kakuzuke td:nth-child(1) {
    font-weight: bold;
    padding-right: 30px;
}

/**
 override remark style
 */
.remark-slide-content {
    background-color: #203040;
    background-size: cover !important;
    background-position: center !important;
    color: #FEF6EE;
    font-size: 30px;
    padding: 20px 80px;
}
.remark-code {
    font-size: 15px;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
.remark-code-line {
    word-wrap: break-word;
}

/**
 override highlight.js style
 */
.hljs-number {
    color: #ae81ff;
}
