/**
  element
*/
body {
    font-family: 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1, h2, h3 {
    font-weight: bold;
}
h2 {
    font-size: 35px !important;
}
li {
    font-size: 30px;
}
.list-l li {
    margin-top: 50px;
    font-size: 40px;
}
.list-m li {
    margin-top: 30px;
    font-size: 35px;
}
a {
    color: #79B5F2;
    text-decoration: none;
}
blockquote {
    font-size: 20px;
    font-style: italic;
}

table {
    margin: 0 auto;
}
th {
    background: white;
    color: #203040;
}
th, td {
    border: 1px solid white;
    padding: 10px;
}

/**
  custom class
*/
.col-7 {
    width: 84%;
    float: left;
    margin-right: 2%;
}
.col-6 {
    width: 72%;
    float: left;
    margin-right: 2%;
}
.col-5 {
    width: 60%;
    float: left;
    margin-right: 2%;
}
.col-4 {
    width: 48%;
    float: left;
    margin-right: 2%;
}
.col-3 {
    width: 36%;
    float: left;
    margin-right: 2%;
}
.col-2 {
    width: 24%;
    float: left;
    margin-right: 2%;
}
.col-1 {
    width: 12%;
    float: left;
    margin-right: 2%;
}
.fs-ll {
    font-size: 60px;
}
.fs-l {
    font-size: 50px;
}
.fs-m {
    font-size: 40px;
}
.fs-s {
    font-size: 20px;
}
.fw-b {
    font-weight: bold;
}
.fc-yellow {
    color: #ffeb3b;
}

.fc-black {
    color: #000000;
}

.fc-red {
    color: red;
}

/**
 override remark style
 */
.remark-slide-content {
    background-color: #203040;
    background-size: cover !important;
    background-position: center !important;
    color: #FEF6EE;
    font-size: 30px;
    padding: 20px 80px;
}
.remark-code {
    font-size: 15px;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
.remark-code-line {
    word-wrap: break-word;
}

/**
 override highlight.js style
 */
.hljs-number {
    color: #ae81ff;
}
